<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>Rails Girls!</p>
<p>Marina Bispo</p>
<p>10 ANOS DE #CPBR


O maior evento de tecnologia e inovação do mundo, comemora seu aniversário de 10 anos em uma edição especial no Brasil. De 31 de janeiro a 5 de fevereiro no Anhembi em SP</p>
